/* ===========GENERAL============*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #f2f0eb url(images/bg.png);
    font: 16px Helvetica, Arial, Sans-Serif;
    color: #636363;
    line-height: 24px;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#logo {
    margin: 10px auto 0 auto;
    position: relative;
    width: 183px;
}

/* ===========navigation bar========== */
ul#nav {
    width: 940px;
    list-style: none;
    overflow: hidden;
    margin: -134px auto 25px auto;
}

ul#nav li {
    width: 126px;
    height: 33px;
    float: left;
    padding: 13px 0 0 0;
    background: url(images/nav-bg.png);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

ul#nav li:nth-child(1) {
    margin: 0 60px 0 0;
}
ul#nav li:nth-child(2) {
    margin: 0 316px 0 0;
}
ul#nav li:nth-child(3) {
    margin: 0 60px 0 0;
}
ul#nav li:nth-child(4) {
    margin: 0;
}

ul#nav li a {
    color: #616369;
    text-decoration: none;
}

ul#nav li a:hover {
    color:  #a12121;
}

/* ============HEADER==========*/
#header {
    height: 244px; padding: 52px 0 0 57px;
    background: url(images/home-header.jpg);
}

#header h1 {
    font: 38px Georgia, Serif;
    color: #f2f0eb;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
    text-shadow: 0px 3px 3px #494949;
}
#header h2 {
    width: 510px;
    font: 30px Georgia, Serif;
    color: #f2f0eb;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
    text-shadow: 0px 3px 3px #494949;
}
#header p.btn a {
    display: block;
    width: 225px;
    height: 50px;
    overflow: hidden;
    background: url(images/home-header-btn.jpg);
    text-indent: -9999px;
}

/*============CONTENT===========*/

#content {
    background: url(images/content-bg.png) repeat-y;
    padding: 57px 69px 50px 69px;
    overflow: hidden;
}
#content h2 {
    font: 30px Georgia, Serif;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

#content h3 {
    font: 26px Georgia, Serif;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

#content p {
    margin: 0 0 30px 0;
}

#content a {
    color: #a12121;
    text-decoration: none;
}
#content a:hover {
    color: #671111;
}

#content .portfolio-item {
    width: 182px;
    padding: 4px;
    background: #eee;
    text-align: center;
    float: left;
    margin: 0 7px 14px 7px;
}
#content .portfolio-item p.btn {
    margin: 0;
}
#content .portfolio-item p.btn a {
    display: block;
    width: 183px;
    height: 29px;
    padding: 7px 0 0 0;
    background: url(images/see-more-bg.png);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
